<div>
        <ul>
        <% @restaurants.each do |restaurant| %>
            <li>
                <span style="font-size:22px"><%= link_to restaurant.name, restaurant_path(restaurant.id) %></span>
                [<%= link_to "Edit", edit_restaurant_path(restaurant.id) %>]
            </li>
        <% end %>

    </h2>
    <div>
        <p>
            <%= link_to "Create New Restaurant...", new_restaurant_path %>
        </p>
    </div>
</div>